<nav aria-label="Header" id="header" class="top-menu">
  <div class="left">
    <a href="/"> 
      <div id="logo" class="logo"></div>
    </a>
  </div>

  <div class="right">
    <div class="top-menu-items" id="top-menu-items">
        <nav id="nav">
          <ul id="navigation">
           {{ $currentPage := . }}
           {{ range .Site.Menus.main }}
             <li>
               <a href="{{.URL}}" id="top-menu-item-text" class="top-menu-item">{{.Title}}</a>
               {{ $inMenu := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
               {{ if $inMenu }}
                 <ul>
                   {{ range .Children}}
                     <li><a href="{{.URL}}" id="top-menu-item" class="top-menu-item">{{.Title}}</a></li>
                   {{ end }}
                 </ul>
               {{ end }}
              </li>
           {{ end }}
            <li><a href="" id="top-menu-item-text" class="top-menu-item">Explore Waziup!</a>
              <ul>
                <li><img src="/img/external-link-symbol.png"/><a href="https://www.waziup.io" class="top-menu-item">Cloud IoT platform</a></li>
                <li><img src="/img/external-link-symbol.png"/><a href="https://diy.waziup.io" class="top-menu-item">Do-It-Yourself IoT</a></li>
                <li><img src="/img/external-link-symbol.png"/><a href="https://iot-catalogue.waziup.io" class="top-menu-item">Buy IoT components</a></li>
                <li><img src="/img/external-link-symbol.png"/><a href="https://www.waziup.org" class="top-menu-item">Waziup Association</a></li>
                <li><img src="/img/external-link-symbol.png"/><a href="https://www.wazihub.com" class="top-menu-item">WaziHub EU-Africa project</a></li>
              </ul>
            </li>
          </ul>
        </nav>
    </div>

    <div class="download">
      <a href="https://dashboard.waziup.io" class="button button--red">
        {{ i18n "herospace_text2" }}
      </a>
    </div>
    
    <a href="https://github.com/Waziup/platform" target="_blank" class="github-logo">
      <i class="fa fa-2x fa-github" aria-hidden="true"></i>
    </a>
  </div>
</nav>

<ul id="mobile-menu" style="display: none">
</ul>

<div id="search">
  <div class="search-bar">
    <div class="search-bar__back">
      <i class="fa fa-lg fa-times"></i>
    </div>
    <input class="search-bar__input" placeholder='{{ i18n "nav_search_placeholder" }}'>
  </div>
  <div class="search-results">
    <ul></ul>
  </div>
</div>

