{{ $currentPage := . }}
{{ range .Site.Menus.main }}
    {{ $inMenu := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
    {{ if $inMenu }}
      {{ range .Children}}
        {{ $inSubMenu := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
        <a class="side-menu-item {{ if $inSubMenu }}active{{ end }}" href="{{ .URL }}">
          <div class="bullet">
            <img src="http://www.waziup.io/img/003-Small-icons/block-03.svg" alt="\">
          </div>
          <div class="section-title">
            <p class="text active">{{ .Title }}</p>
          </div>
          <div class="folding-indicator">
          </div>
        </a>
        {{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
          {{ range .Children }}
            <a class="sub-menu-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">
              <p class="text">{{ .Title }}</p>
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
{{ end }}
