{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--blue hero-space">
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="header center">
          {{ i18n "herospace_text1" }}
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <div class="hero-space-buttons">
            <a href="https://dashboard.waziup.io" class="button button--red">
            {{ i18n "herospace_text2" }}
            </a>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <img class="laptop" src="images/iot.png" alt=""/>
        </div>
      </div>

    </div>

    <div class="bottom-background">
      <div class="left-pixels">
        <img src="img/herospace/pixels-header-left.gif" alt="">
      </div>
      <div class="right-pixels">
        <img src="img/herospace/pixels-header-right.gif" alt="">
      </div>
    </div>
  </div>

  <!--ABOUT Waziup ROW-->
  <div id="about-vamp-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col center">
          <a href='tutorials/' class="image--smaller"><img src="img/001-Big-icons/illustration-01.svg" alt="Easy canary releasing"></a>
          <h2 class="h2">{{ i18n "about_w_text1" }}</h2>
          <p class="text">
            {{ i18n "about_w_text2" }}
          </p>
        </div>
        <div class="col center">
          <a href='documentation' class="image--smaller second-icon"><img src="img/001-Big-icons/illustration-02.svg" alt="Powerful autoscaling"></a>
          <h2 class="h2">{{ i18n "about_w_text3" }}</h2>
          <p class="text">
            {{ i18n "about_w_text4" }}
          </p>
        </div>
        <div class="col center">
          <a href='documentation' class="image--smaller third-icon"><img src="img/001-Big-icons/illustration-03.svg" alt="Container agnostic deploys"></a>
          <h2 class="h2">{{ i18n "about_w_text5" }}</h2>
          <p class="text">
            {{ i18n "about_w_text6" }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <a href='documentation' class="button button--red--ghost">
              <p>{{ i18n "herospace_text3" }}</p>
              <div class="button__icon button__icon--arrow">
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--FEATURES LIST ROW 01-->
  <div class="lander-row lander-row--grey features-top">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">{{ i18n "features_1_text1" }}</h3>
          <h1 class="h1">{{ i18n "features_1_text2" }}</h1>
        </div>
      </div>

      <div class="row row--wrap">
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-05.svg" alt="">
            <p class="text">
              {{ i18n "features_1_text3" }}
            </p>
          </div>
        </div>

        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-06.svg" alt="">
            <p class="text">
              {{ i18n "features_1_text4" }} 
            </p>
          </div>
        </div>
        
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-03.svg" alt="">
            <p class="text">
              {{ i18n "features_1_text5" }}
            </p>
          </div>
        </div>
        
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-02.svg" alt="">
            <p class="text">
              {{ i18n "features_1_text6" }}
            </p>
          </div>
        </div>
        
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="">
            <p class="text">
              {{ i18n "features_1_text7" }}
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-04.svg" alt="">
            <p class="text">
              {{ i18n "features_1_text8" }}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--FEATURES LIST ROW 02-->
  <div class="lander-row lander-row--grey top-bar features-bottom">
    <div class="container">
      <div class="row row--wrap">
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              {{ i18n "features_2_text1" }}
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              {{ i18n "features_2_text2" }}
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              {{ i18n "features_2_text3" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--PARTNERS ROW-->
  <div class="lander-row lander-row--white lander-row--small-padding top-bar">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">{{ i18n "partners_text1" }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <img src="/img/004-Logos/004-Friends/eu-support.png" alt="Eu Commission">
        </div>
      </div>
    </div>
  </div>

  <div id="partners-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">{{ i18n "about_w_text8" }}</h3>
        </div>
      </div>

      <div class="row logos-row">
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/fiware.png" alt="FIWARE">
        </div>
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/ITU.png" alt="ITU">
        </div>
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/ms4africa.png" alt="MICROSOFT 4 Africa">
        </div>
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/orange.png" alt="Orange">
        </div>
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/smartafrica.png" alt="SmartAfrica">
        </div>
    </div>
    </div>
  </div>
</div>
{{ partial "footer" .}}
