@import 'reset';
@import 'variables';
@import 'grid';


.top-menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0 10px;
  background-color: transparent;
  z-index: 999;
  border-bottom: 1px solid rgba($color-white-squeeze, 0.1);
  transition: 0.3s ease-in all;


  // Remove all text decoration on links
  a {
    text-decoration: none;
  }

  // Left - Logo part
  .left {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 60px;
    width: 238px;
    background-image: url('../img/005-waziup/Logo/logo-waziup-white.svg');
    background-size: contain;
  }

  // Right - Menu Items part
  .right {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .top-menu-items {
    display: none;
    align-items: center;
    position: relative;
    margin: 0 20px;
    height: 100%;
    @media all and (min-width: 1025px) {
      display: flex;
    }
  }

  .top-menu-items {
    margin: 0;
    height: 100%;
  }

  .top-menu-item {
    display: flex;
    align-items: center;
    padding: 0 20px;

    color: white;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    height: 100%;
    text-transform: uppercase;

    &.active {
      font-weight: bold;
    }
  }

  .menu-toggle {
    display: block;
    right: 0px;
    width: 100%;
    z-index: 9999;
    margin: 10px;
    @media all and (min-width: 1025px) {
      display: none;
    }

    .fa {
      font-size:30pt;
      color: white;
    }
  }
}

// Top menu is considered active when the menu is not on top anymore at the landing page
.top-menu.active {
  background-color: white;
  border-bottom: none;
  box-shadow: 0 4px 2px -2px rgba($color-big-stone, 0.25);

  .logo {
    background-image: url('../img/005-waziup/Logo/logo-waziup-white.svg');
  }

  .top-menu-item {
    color: $color-big-stone;
  }

  .fa {
    color: $color-big-stone;
  }
}

.sub-menu-item {
  color: black;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  height: 100%;

  &.active {
    font-weight: bold;
  }
}

.sub-menu-icon {
  padding-right: 7px;
}

// mobile menu
#mobile-menu {
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 80px; /* Stay at the top */
  left: 0;
  background-color: #173343; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  position: fixed;
  color: white;

  /* The navigation menu links */
  .mobile-menu-item a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .mobile-menu-item a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
  }
}

// Top menu items (solutions, user manuals...)
#navigation li {
  float: left;
  position: relative;

  &:hover 
  {
    // link colors in red
    >a
    {
      color: red;
    }
    // Top menu hover opens sub menu
    >ul
    {
      visibility: visible;
      opacity: 1;
    }
  }

  // Drop down list
  ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    //Keep the drop-down hidden
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 99999;
    width: 200px;
    background: #F0F5FA;
    box-shadow: 1px 1px 3px #ccc;
    /* css3 transitions for smooth hover effect */
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    -o-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    top: 20px;
    left: 1px;
    display: inline-block;

    // drop down menu items
    li {
       clear: both;
       width: 100%;
       border: 0 none;
       border-bottom: 1px solid #c9c9c9;
       padding: 14px 10px;
    
       ul {
        left: 200px;
       }
    }
  }
}



#TableOfContents ul li {

  font-size: 12px;

  border-bottom: 1px solid #96ADAA;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }

  a {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      color: red;
    }

    &.active {
      font-weight: bold;
    }
  }

  ul li {
    border-bottom: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 50px;
  }
}

.toctitle {
  font-size: 24px;
  padding-bottom: 18px;
}

#LeftMenu ul li {
  

  border-bottom: 1px solid #96ADAA;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }

  a {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      color: red;
    }

    &.active {
      font-weight: bold;
    }
  }

  ul li {
    border-bottom: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 50px;
  }
}

.toctitle {
  font-size: 24px;
  padding-bottom: 18px;
}





