@import "reset";
@import "variables";
@import "grid";
@import "menus";

body {
  font-family: "Lato", sans-serif;
}

/* Components */

.page {
  min-height: 100vh;
  position: relative;
  margin-top: 80px; //margin to compensate space used by menu bar
}

.documentation {
  padding-top: 60px;
}

// Fonts
.header {
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  color: $color-big-stone;
  font-size: 26px;

  @media all and (min-width: 641px) {
    font-size: 52px;
  }
}

.h1 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $color-big-stone;

  @media all and (min-width: 641px) {
    font-size: 40px;
  }

  &:not(:first-child):not(:last-child) {
    margin: $small-margin 0;
  }

  &:first-child {
    margin-bottom: $small-margin;
  }

  &:last-child {
    margin-bottom: $small-margin;
  }
}

.h2 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: $color-big-stone;

  @media all and (min-width: 1025px) {
    font-size: 22px;
  }

  @media all and (min-width: 1201px) {
    font-size: 24px;
  }

  &:not(:first-child):not(:last-child) {
    margin: $small-margin 0;
  }

  &:first-child {
    margin-bottom: $small-margin;
  }

  &:last-child {
    margin-bottom: $small-margin;
  }
}

.h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $color-cascade;
}

.text-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: $color-big-stone;

  &:not(:first-child):not(:last-child) {
    margin: 10px 0;
  }

  &:first-child {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.text {
  font-weight: normal;
  letter-spacing: 0.05em;
  font-size: 15px;
  color: $color-big-stone;
  line-height: 1.7;
  text-align: justify;
}

// Buttons
.button {
  @extend .h3;
  border: none;
  height: 40px;
  min-width: 120px;
  padding: 0 40px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    line-height: 1;
    text-decoration: none;
  }

  &__icon {
    position: relative;
    height: 38px;
    width: 38px;
    background-position: center center;
    background-size: contain;

    &--arrow {
      width: 30px;
      background-image: url("../img/003-Small-icons/Red/Red-Arrow.svg");
    }

    &--arrow-white {
      background-image: url("../img/003-Small-icons/White/Arrow-White.svg");
    }

    &--mail {
      background-image: url("../img/003-Small-icons/White/Mail-White.svg");
    }
  }

  &:hover {
    .button__icon--arrow {
      background-image: url("../img/003-Small-icons/White/Arrow-White.svg");
    }
  }

  &--grey {
    background-color: #f2efe9;
    color: white;

    &:hover {
      background-color: $color-blue-dianne;
    }

    &--ghost {
      background-color: transparent;
      color: $color-bermuda-gray;
      border: 1px solid $color-bermuda-gray;

      &:hover {
        background-color: $color-bermuda-gray;
        color: white;
      }
    }
  }

  &--red {
    background-color: $color-radical-red;
    color: white;

    &:hover {
      background-color: $color-brick-red;
    }

    &--ghost {
      background-color: transparent;
      color: $color-radical-red;
      border: 1px solid $color-radical-red;

      &:hover {
        background-color: $color-radical-red;
        color: white;
      }
    }
  }

  &--orange {
    background-color: $color-flamingo;
    color: white;

    &:hover {
      background-color: $color-tia-maria;
    }

    &--ghost {
      background-color: transparent;
      color: $color-flamingo;
      border: 1px solid $color-flamingo;

      &:hover {
        background-color: $color-flamingo;
        color: white;
      }
    }
  }

  &--blue {
    background-color: $color-big-stone;
    color: white;

    &:hover {
      background-color: $color-blue-dianne;
    }

    &--ghost {
      background-color: transparent;
      color: $color-big-stone;
      border: 1px solid $color-big-stone;

      &:hover {
        background-color: $color-big-stone;
        color: white;
      }
    }
  }
}

// Lander rows
.lander-row {
  display: flex;
  justify-content: center;
  padding: 8px 0;

  ul {
    list-style-type: square;
    margin: 10px 30px;
  }
  @media all and (min-width: 321px) {
    padding: 8px 0;
  }

  @media all and (min-width: 641px) {
    padding: 22px 0;
  }

  @media all and (min-width: 769px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media all and (min-width: 1025px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media all and (min-width: 1201px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  &--small-padding {
    @media all and (min-width: 321px) {
      padding: 4px 0;
    }

    @media all and (min-width: 641px) {
      padding: 11px 0;
    }

    @media all and (min-width: 769px) {
      padding: 20px 0;
    }

    @media all and (min-width: 1025px) {
      padding: 40px 0;
    }

    @media all and (min-width: 1201px) {
      padding: 40px 0;
    }
  }

  &--blue {
    background-color: $color-big-stone;

    .header,
    .h1,
    .h2,
    .h3,
    .text-header,
    .text,
    .fa,
    .ul,
    i {
      color: $color-white-squeeze;
    }
  }

  &--white {
    background-color: white;

    .header,
    .h1,
    .h2,
    .h3,
    .text-header,
    .text,
    .fa,
    .ul,
    i {
      color: $color-big-stone;
    }
  }

  a {
    text-decoration: none;
  }
}

.col-logo {
  padding: 10px;
  margin-left: 20px;
}

.hero-space {
  padding-top: 14px + 40px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  height: 620px;
  position: relative;
  background: none;

  #bgvideo {
    position: fixed;
    top: 0;
    z-index: -100;
    filter: brightness(90%);
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 760px;
  }

  &--gradient {
    background: linear-gradient(45deg, $color-blue-dianne, $color-big-stone);
  }

  //Less padding for smaller screens
  @media all and (min-width: 321px) {
    padding-top: 14px;
  }

  @media all and (min-width: 641px) {
    padding-top: 20px;
  }

  @media all and (min-width: 769px) {
    padding-top: 60px;
  }

  @media all and (min-width: 1025px) {
    padding-top: 80px;
  }

  @media all and (min-width: 1201px) {
    padding-top: 80px;
  }

  .bottom-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 138px;
    z-index: 5;
    display: flex;

    .left-pixels {
      height: 100%;
      width: 50%;
      img {
        height: 100%;
      }
    }

    .right-pixels {
      height: 100%;
      width: 50%;
      img {
        float: right;
        height: 100%;
      }
    }
  }
}

// Inputs
.input-group {
  display: flex;

  input {
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    padding: 0 10px;

    &:focus {
      border: none;
      outline: none !important;
    }
  }

  .button {
    padding: 0;
    border-radius: 0 5px 5px 0;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
  }

  a {
    cursor: pointer;
  }
}

// single page
.menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 100px;
  margin-right: 20px;
  padding: 20px 20px 20px 20px;
  min-height: 300px;
  max-height: 85%;
  width: 260px + 20px + 20px;
  overflow-y: scroll;
  background-color: whitesmoke;

  @media all and (min-width: 1025px) {
    display: block;
  }
}
.left-menu {
  margin-top: -80px;
  display: none;
  background-color: $color-white-squeeze;
  padding: 50px 40px 40px 40px;
  height: 100vh;
  //position: fixed;
  //bottom: 0;
  float: left;
  width: 260px + 40px + 40px;

  @media all and (min-width: 1025px) {
    display: block;
  }
}

.news-menu {
  margin-top: -80px;
  display: none;
  background-color: $color-white-squeeze;
  padding: 50px 40px 40px 40px;
  height: 100vh;
  //position: fixed;
  //bottom: 0;
  float: left;
  width: 260px + 40px + 40px;

  li {
    text-decoration: none;
  }

  p {
    font-size: 12px;
    color: grey;
  }

  @media all and (min-width: 1025px) {
    display: block;
  }
}

.content {
  padding: 30px 40px 40px 40px;
  background-color: white;
  min-height: 100vh;
  //max-width: 730px;

  @media all and (min-width: 1025px) {
    //display: block;
    margin-left: 370px;
    margin-right: 400px;
    padding: 0 40px 40px 80px;
  }

  .content-header {
    font-size: 32px;
    font-weight: bold;
    color: $color-big-stone;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

// Markdown implementation
.markdowned {
  h1 {
    font-size: 32px;
    font-weight: bold;
    color: $color-big-stone;
    line-height: 1.5;
    letter-spacing: 0.05em;
    padding-top: 100px;
    margin-top: -68px;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    color: $color-big-stone;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 32px 0 12.5px 0;

    //padding for anchor tags
    padding-top: 100px;
    margin-top: -68px;
  }

  h2 + h3 {
    margin-top: 0;

    //padding for anchor tags
    padding-top: 100px;
    margin-top: -100px !important;
  }

  h2 + p {
    margin-top: 0;
  }

  h2 + ul {
    margin-top: 0;
  }

  h3 {
    font-size: 13px;
    font-weight: 500;
    color: $color-big-stone;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 32px 0 0 0;

    //padding for anchor tags
    padding-top: 100px;
    margin-top: -100px + 16px !important;
  }

  h3 + h4 {
    margin-top: 0;
  }

  h3 + p {
    margin-top: 0;
  }

  h3 + ul {
    margin-top: 0;
  }

  h4 {
    font-size: 13px;
    font-weight: 500;
    color: $color-big-stone;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 32px 0 0 0;
  }

  h4 + h5 {
    margin-top: 0;
  }

  h4 + p {
    margin-top: 0;
  }

  h4 + ul {
    margin-top: 0;
  }

  h5 {
    font-size: 13px;
    font-weight: 500;
    color: $color-radical-red;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 25px 0 0 0;
  }

  h5 + h6 {
    margin-top: 0;
  }

  h5 + p {
    margin-top: 0;
  }

  h5 + ul {
    margin-top: 0;
  }

  h6 {
    font-size: 15px;
    font-weight: 500;
    color: $color-big-stone;
    line-height: 1.7;
    letter-spacing: 0.025em;
    margin: 25px 0;
  }

  p {
    font-size: 15px;
    font-weight: normal;
    color: $color-big-stone;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 25px 0;
    text-align: justify;
  }

  p + ul {
    margin-top: 0;
  }

  p + ol {
    margin-top: 0;
  }

  a {
    font-size: 15px;
    font-weight: normal;
    color: $color-bermuda-gray;
    line-height: 1.7;
    letter-spacing: 0.025em;
    text-decoration: underline;
    margin: 25px 0;
  }

  ol {
    margin: 10px 30px;
  }

  ul {
    list-style-type: square;
    margin: 10px 30px;
  }

  li {
    font-weight: normal;
    margin: 10px 0;
    @extend .text;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  em {
    color: $color-big-stone;
    font-weight: normal;
  }

  strong {
    font-weight: bold;
  }
  code {
    font-family: "Roboto Mono", monospace;
  }

  p > code,
  li > code {
    background-color: #f7f8f9;
    padding: 0 5px;
  }

  .hljs {
    padding: 40px 20px 40px 20px;
    font-size: 14px;
    background-color: #f7f8f9;
    span {
      font-weight: normal;
    }
  }

  table {
    margin: 40px 0;
    width: 100%;
  }

  th {
    @extend .text-header;
    text-transform: capitalize;
  }

  td,
  th {
    text-align: left;
    padding: 20px 40px;

    &:first-of-type {
      padding-left: 10px;
    }

    &:last-of-type {
      padding-right: 10px;
    }

    border-bottom: 1px solid $color-white-squeeze;
  }

  td {
    @extend .text;
  }

  tr {
    &:last-of-type {
      td {
        transition: 0.1s ease-in background-color;
        border-bottom: none;
      }
    }
  }

  tr:hover {
    td {
      background-color: $color-white-squeeze;
    }
  }
}

.date {
  @extend .text;
  color: $color-bermuda-gray;
  margin: 40px 0;
}

// Custom
.hero-space-buttons {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  .button {
    min-width: 250px;
  }

  @media all and (min-width: 641px) {
    flex-direction: row;
    //width: 400px;
  }
}

.offer-item {
  display: flex;
  img {
    width: 64px;
    height: 64px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .text {
    margin-left: 40px;
  }

  margin-bottom: 40px;
}

.lower-offer-item {
  display: flex;
  img {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .text {
    margin-left: 20px;
  }

  margin: 20px 0;

  &:first-of-type {
    margin-top: 40px;
  }
}

.top-bar {
  border-top: 1px solid $color-jungle-mist;
}

// footer

.footer {
  position: relative;
  z-index: 999;
  padding-bottom: 50px;

  .text {
    color: $color-jungle-mist !important;
  }

  .h2 {
    font-weight: normal;
  }

  a {
    text-decoration: none;

    .text {
      font-weight: normal;
      color: $color-jungle-mist !important;
    }

    &.rss-feed-link {
      text-decoration: underline;
      color: $color-radical-red;
    }
  }

  .input-group {
    margin: 20px 0;
  }
}

.footer-bottom {
  position: relative;
  z-index: 999;
  padding: 20px 0;
  border-top: 1px solid rgba($color-ming, 0.3);

  .text {
    color: $color-jungle-mist !important;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .vamp-bat {
    height: 40px;
    width: 50px;
    margin-right: 20px;
  }

  .part {
    display: flex;
    width: 40%;
    align-items: center;
  }

  a {
    color: $color-white-squeeze;
  }
}

// Note box
.admonition {
  padding: 10px;
  border-left: 5px solid;
  border-radius: 0 5px 5px 0;
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: row;

  .admonition-icon {
    padding-right: 10px;

    width: 75px !important;
    height: 75px !important;
  }

  .admonition-title {
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: bold;
  }

  li {
    font-weight: normal;
  }

  &.note {
    background-color: #f7f8f9;
    border-color: #faac19;

    .admonition-title {
      color: #234b5f;
    }
  }

  &.warning {
    background-color: #fef0d5;
    border-color: #f9b32e;

    .admonition-title {
      color: #f9b32e;
    }
  }

  &.action {
    background-color: #dcf7f0;
    border-color: #1aa379;

    .admonition-title {
      color: #1aa379;
    }
  }
}

.laptop {
  transform: translateY(0px);
  position: relative;
  max-height: 500px;
}

.team {
  background-color: white;
  transition: transform 0.3s;
  border: 2px solid orange;
  border-radius: 5px;
  max-height: 450px !important;
  overflow: hidden;
  text-align: center;
  width: 340px;
  height: 440px;
  position: relative;

  .team-image {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.05);
    .team-overlay {
      display: block;
    }
  }

  .team-overlay {
    color: $color-big-stone;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
    display: none;
  }
}

.card {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  transition: transform 0.3s;
  border: 2px none;
  border-radius: 5px;
  max-height: 450px !important;
  overflow: hidden;
  text-align: center;

  .tech-image {
    height: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &:hover {
    transform: scale(1.05);
  }

  .tech-text {
    padding-top: 20px;
    text-align: justify;
    color: $color-big-stone;
  }
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 20px;
  width: 80%;
  line-height: 30px;

  a {
    padding-bottom: 2px;

    i {
      line-height: inherit;
      color: white;
    }
  }
}

.waziup-logo {
  height: 40px;
}

.single-page {
  .top-menu {
    transition: none;
    background-color: white;
  }
}

.features-top {
  padding-bottom: 20px;
}

.features-bottom {
  padding-top: 20px;
}

a.not-active {
  &.button {
    opacity: 0.3;
    cursor: not-allowed;
  }
  pointer-events: none;
}

pre code {
  position: relative;
}

pre + pre {
  margin-top: 40px;
}

.copy-button {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  width: 100px;
  background-color: #e7ecf1;
  transition: 0.3s ease-in all;

  p {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
    font-size: 12px;
    color: $color-big-stone;

    .fa-check {
      transform: translate(0, -1px);
    }
  }

  .copied {
    display: none;
  }

  &.zeroclipboard-is-hover {
    transition: 0.1s ease-in all;
    background-color: $color-jungle-mist;
    cursor: pointer;
    color: white;
  }

  &.clicked {
    background-color: $color-big-stone;
    color: white;
    width: 200px;

    .copy {
      display: none;
      color: white;
    }

    .copied {
      display: block;
      color: white;
    }
  }
}

.second-icon {
  transform: translate(0, 2px);
}

.third-icon {
  @media all and (min-width: 1025px) {
    width: 66%;
    transform: translate(0, 19px);
  }

  @media all and (min-width: 1201px) {
    width: 68%;
    transform: translate(0, 3px);
  }
}

.third-icon + h2 {
  margin-top: 0 !important;
}

#partners-row {
  a {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .logos-row {
    flex-flow: row wrap;
    justify-content: center;

    @media all and (min-width: 321px) {
      .col {
        height: 190px;
        width: 50%;
        flex: none;
        padding: 0;
      }
    }

    @media all and (min-width: 641px) {
      .col {
        height: 230px;
        width: 33%;
        flex: none;
      }
    }

    @media all and (min-width: 769px) {
    }

    @media all and (min-width: 1025px) {
      .col {
        height: auto;
        width: 14.27%;
      }
    }

    @media all and (min-width: 1201px) {
    }
  }
}

//Anchor padding

#not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding-top: 80px;
  flex-direction: column;
  font-family: "Circular", sans-serif;

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: $color-radical-red;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .image-container {
    width: 530px;
    height: 259px;
  }

  img {
    width: 530px;
    height: 259px;
  }
}

// Figures

figure {
  text-align: center;

  figcaption {
    font-weight: bold;
  }
}

//News
.news {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 15px;

  .h2 {
    margin-top: 10px !important;
    margin-top: 15px !important;
    color: #286bbd;
  }

  .newsdate {
    font-size: 10pt;
    color: grey;
  }

  .newscontent {
    margin-bottom: 10px;
  }
}

// Dev
#__bs_notify__ {
  top: 95% !important;
  right: 10px !important;
  border-radius: 15px !important;
  height: 60px !important;
}

.CourseTitle {
  text-align: center !important;
  padding-bottom: 20px !important;
  font-size: 30px;
}

.CourseCard-container {
  text-align: center;
}
.CourseCard {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 400px;
}
.CourseCard-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.CourseCard-1:hover {
  box-shadow: 0 14px 28px 14px rgba(0, 0, 0, 0.25),
    0 10px 10px 10px rgba(0, 0, 0, 0.22);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 350px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: lightgray; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
#myBtnC {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: lightgray; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtnC:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Slide show */

.slider-wrapper {
  position: fixed;
  top: 0;
  z-index: -100;
  filter: brightness(90%);
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 760px;
}

.slide {
  float: left;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
  opacity: 1;
}

.header-link {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

.jarallax {
  position: absolute;
  top: -300px;
  left: 0;
  z-index: -1;
  height: 700px;
  width: 100%;
  opacity: 0.6;
}
.jarallax > .jarallax-img {
  // position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: "object-fit: cover;";
  /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;*/
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
