{{ partial "head" . }}
{{ partial "nav" . }}

<div class="page documentation">
  <div class="CourseTitle">
    <h1 class="content-header">{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
  </div>
<div class="CourseCard-container">
  <div class="CourseCard CourseCard-1">
    {{ $currentPage := . }}
    {{ range where $currentPage.Menus.main.Children ".Title" "=" "WaziApp tutorial"}}
      
    <a href="{{.URL}}"><img src="/images/WaziAppcourse.png" /></a>
      
    {{ end }}
  </div>

  <div class="CourseCard CourseCard-1">
    {{ $currentPage := . }}
    {{ range where $currentPage.Menus.main.Children ".Title" "=" "IoT Fundamentals"}}
      
    <a href="{{.URL}}"><img src="/images/IoTcourse.png" /></a>
      
    {{ end }}
  </div>

  <div class="CourseCard CourseCard-1">
    {{ $currentPage := . }}
    {{ range where $currentPage.Menus.main.Children ".Title" "=" "LoRA"}}
      
    <a href="{{.URL}}"><img src="/images/lora.png" /></a>
      
    {{ end }}
  </div>
  
</div>
</div>

{{ partial "footer" .}}
