{{ partial "head" . }}
{{ partial "nav" . }}

<div class="page documentation">
  <div class="left-menu" style="overflow-y: scroll; position:fixed ; bottom: 0; padding-top: 100px ;">
    What's on this Page:
      {{.TableOfContents}}
  </div>
    <div class="content" style=" margin-right: 200px!important;">
      
      <h1 class="content-header">{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
      <div class="markdowned" >
        {{ .Content }}
      </div>
      <br> 
    </div>
</div>

{{ partial "footer" .}}
