<div class="lander-row lander-row--blue footer top-bar">
  <div class="container">
    <div class="row">
      <div class="col col-3">
        <h2 class="h2">Learn more</h2>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <a href="{{.URL}}" >
              <p class="text">{{.Title}}&nbsp;{{.Pre}}</p>
            </a>
          {{ end }}
      </div>
      <div class="col col-6">
      </div>
      <div class="col col-6">
        <h2 class="h2">Stay up to date</h2>
        <div class="social-buttons">
          <p class="text">Follow us on:</p>
          <a href="https://twitter.com/waziupIOT" target="_blank">
            <i class="fab fa-2x fa-twitter"></i>
          </a>
          <a href="https://facebook.com/waziupIOT" target="_blank">
            <i class="fab fa-2x fa-facebook"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCGbGcMnBxiJG6Q29LyuKOJQ" target="_blank">
            <i class="fab fa-2x fa-youtube"></i>
          </a>
          <a href="https://medium.com/waziup" target="_blank">
            <i class="fab fa-2x fa-medium"></i>
          </a>
          <a href="https://github.com/Waziup" target="_blank">
            <i class="fab fa-2x fa-github" aria-hidden="true"></i>
          </a>
        </div>
        <a href="/imprint">
          <p class="text">Imprint</p>
        </a>
        <a href="/contact">
          <p class="text">Contact us</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom lander-row--blue">
  <div class="container">
    <div class="part">
      <a href="/about"><img class="waziup-logo" src="/img/005-waziup/Logo/logo-waziup-white.svg" alt=""></a>
    </div>

    <div class="part">
      <p class="text"> © 2016-2020 Waziup e.V.</p>
    </div>
  </div>
</div>
