<div class="top-menu-items" id="top-menu-items">
  <nav id="nav">
    <ul id="navigation">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{.URL}}" id="top-menu-item-text" class="top-menu-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" >{{.Title}}&nbsp;{{.Pre}}</a>
          {{ if .HasChildren }}
             <ul>
               {{ range .Children}}
                 <li>
                   <a href="{{.URL}}" class="sub-menu-item{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">{{.Title}} {{if .HasChildren }} > {{ end }} </a>
                   {{ if .HasChildren }}
                     <ul>
                       {{ range .Children}}
                         <li>
                           <a href="{{.URL}}" class="sub-menu-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">{{.Title}}</a>
                         </li>
                       {{ end }}
                     </ul>
                   {{ end }}
                 </li>
               {{ end }}
             </ul>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>
</div>
