<nav aria-label="Header" id="header" class="top-menu">
  <div class="left">
    <a href="/"> 
      <div id="logo" class="logo"></div>
    </a>
  </div>

  <div class="right">
    {{ partial "menu" . }}
    <div id="menu-toggle">
      <i class="fa fa-bars" onclick="openNav()"></i>
    </div>

    <div class="download">
      <a href="https://dashboard.waziup.io" class="button button--red">
        {{ i18n "herospace_text2" }}
      </a>
    </div>
    
    <a href="https://github.com/Waziup/platform" target="_blank" class="github-logo">
      <i class="fa fa-2x fa-github" aria-hidden="true"></i>
    </a>
  </div>
</nav>

