{{ partial "head" . }}
{{ partial "nav" . }}

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--blue hero-space">
    <div class="video">
      <div class="slider" id="main-slider">
        <div class="slider-wrapper">
          <img src="img/slide-show/sfondo.png" alt="First" class="slide" />
          <img src="img/slide-show/sfondo2.png" alt="Second" class="slide" />
          <img src="img/slide-show/sfondo3.png" alt="Third" class="slide" />
	      </div>
      </div>	
    </div>
    <div class="container" style="position:relative">
      <div style="position:absolute; width:100%; bottom:0;"> 
        <h1 class="header center" style="font-variant:none">
          WAZIUP e.V.
        </h1>
        <h2 class="h2 center">
          Empowering start-ups and SMEs with IoT and AI
        </h2>
      </div>
    </div>
    <div class="bottom-background">
      <div class="left-pixels">
        <img src="img/herospace/pixels-header-left.gif" alt="">
      </div>
      <div class="right-pixels">
        <img src="img/herospace/pixels-header-right.gif" alt="">
      </div>
    </div>
  </div>

  <!--ABOUT Waziup ROW-->
  <!-- <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="tech-image" style="max-width: 400px;">
            <a href=''>
              <img src="images/wazihubers.jpg" alt="WaziDev" style="display:block;box-shadow:0px 3px 14px -5px orange ;" />
            </a>
          </div>
        </div>
        <div class="col-11 center" style="padding:50px">
          <div style="align-self:flex-start">
            <i class="fa fa-2x fa-quote-left" aria-hidden="true" style="color:orange"></i>
          </div>
          <div>
          <h2 style="font-size:18pt"> Waziup allows us to create our IoT application and to deploy it easily! </h2>
          </div>
          <div style="align-self:flex-end">
            <i class="fa fa-2x fa-quote-right" aria-hidden="true" style="color:orange"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="iframe-container">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/hu-v-eukLAc?rel=0&loop=1" 
            title="YouTube video player" 
            frameborder="0" 
            rel="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div> -->

<!-- ******EXPERIMENT STARTS***** -->
<div class="lander-row lander-row--white">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="iframe-container">
          <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/hu-v-eukLAc?rel=0&loop=1" 
            title="YouTube video player" 
            frameborder="0" 
            rel="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
        </div>
      </div>

      <div class="col-7" style="margin-left: 10px; align-items: center;">
        <div class="center" style="width: 100% ;padding:10px; margin-top: 7vh;">
          <div style="align-self:flex-start">
            <i class="fa fa-2x fa-quote-left" aria-hidden="true" style="color:orange"></i>
          </div>
          <div>
          <h2 style="font-size:18pt"> Waziup allows us to create our IoT application and to deploy it easily! </h2>
          </div>
          <div style="align-self:flex-end">
            <i class="fa fa-2x fa-quote-right" aria-hidden="true" style="color:orange"></i>
          </div>
        </div>
        <div style="width: 100%; display: flex; justify-content: right; margin-top: 3vh;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ******EXPERIMENT END***** -->

  <!-- Our Technology -->
  <div class="lander-row lander-row--blue">
    <div class="container">
      <div class="">
        <h1 class="h1">
          Our Technology
        </h1>
      </div>
      <div class="row">
        <!-- WaziDev -->
        <div class="col-5">
          <h2 class="h2 center">
            WaziDev
          </h2>
          <div class="card" onclick="location.href='documentation/wazidev/';" style="cursor: pointer;">
            <div class="tech-image">
              <img src="img/WaziDev-front.png" alt="WaziDev" class="tech-image">
            </div>
            <div class="tech-text">
              WaziDev is a Sensing and Actuation platform for your applications!
              It can send your data up to 7 Km using the LoRa technology.
              It is easily programmable and customizable, using Arduino technology.
            </div>
          </div>
        </div>
        <!-- WaziGate -->
        <div class="col-5">
          <h2 class="h2 center">
            WaziGate
          </h2>
          <div class="card" onclick="location.href='documentation/wazigate/';" style="cursor: pointer;">
            <div class="tech-image">
              <img src="img/WaziGate-black.png" alt="WaziGate" class="tech-image">
            </div>
            <div class="tech-text">
              WaziGate is a LoRa gateway that can receive and emit LoRa messages up to 200 devices!
              It supports LoRaWAN, edge applications and actuation.
              You can control is from remote using the WaziCloud.
            </div>
          </div>
        </div>
        <!-- WaziCloud -->
        <div class="col-5">
          <h2 class="h2 center">
            WaziCloud
          </h2>
          <div class="card" onclick="location.href='documentation/wazicloud/';" style="cursor: pointer;">
            <div class="tech-image">
              <img src="img/WaziCloud.png" alt="WaziCloud" class="tech-image">
            </div>
            <div class="tech-text">
              WaziCloud allows Remote control of your application!
              Using the dashboard, you can visualize you data and control you devices and gateways.
              It offers an Open API for developping your IoT applications.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Waziup Network -->
  <div class="lander-row lander-row--white">
    <div class="container">
      <h1 class="h1">
        Waziup Network
      </h1>
      <div class="row">
        <div class="col center">
          <div class="">
            <img src="images/map.png" alt="WaziDev" style="width: 600px;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WAZIUP SOCIALS -->

  <div class="lander-row lander-row--blue">
    <div class="container">
      <h1 class="h1">
        Waziup Socials
      </h1>
      <div class="row" style="justify-content: center;">
        <div class="col-5" style="margin:15px">
          <h2 class="h2 center">
            <i class="fab fa-2x fa-facebook" aria-hidden="true"></i>
            Facebook
          </h2>
          <div class="card">
            <iframe 
              src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FwaziupIOT&width=400&height=400&colorscheme=light&show_faces=true&border_color&stream=true&header=true"
              scrolling="yes"
              style="
                border:none; 
                overflow:hidden; 
                width:100%; 
                height:400px;
                background: white; 
                float:left; "
              allowtransparency="true"
              frameborder="0">
            </iframe>
          </div>
        </div>
        <div class="col-5" style="margin:15px;">
          <h2 class="h2 center">
            <i class="fab fa-2x fa-medium" aria-hidden="true"></i>
            Medium
          </h2>
          <div class="card">
            <div id="medium-widget" style="background-color:white; height: 400px; overflow: hidden;"></div>
            <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
            <script>
              MediumWidget.Init({
              renderTo: '#medium-widget', 
              params: { "resource":"https://medium.com/waziup",
                        "postsPerLine":1,
                        "limit":1,
                        "picture":"big",
                        "fields":["author","claps","publishAt"],
                        "ratio":"square"
                      }
              })
            </script>
          </div>
        </div>
        <div class="col-5" style="margin:15px">
          <h2 class="h2 center">
            <i class="fab fa-2x fa-twitter" aria-hidden="true"></i>
              Twitter
            </h2>
          <div class="card">
            <div  style="height: 400px; overflow-y: auto;">
              <a class="twitter-timeline"
                  href="https://twitter.com/waziupiot"
                  data-tweet-limit="2"
                  style="overflow-y: hidden;"
                  >
                  Tweets by @twittername
              </a>
              <script 
                async 
                src="//platform.twitter.com/widgets.js" 
                charset="utf-8">
              </script>
            </div>
          </div>

        </div>
      </div>
      <!-- MAGAZIN -->
      <div class="row" style="justify-content: center;">
        <div class="col-5">
          <h2 class="h2 center">
            Waziup Magazine #2
          </h2>
          <div class="card">
            <div onclick="location.href='docs/WaziHubMagazine1.pdf';" style="background-color:white; height: 400px; overflow: hidden;">
              <img src="img/WazihubMagazineMay2021.png" alt="WazihubMagazineMay2021" style="height: 100%; width: 100%;">
            </div>
          </div>
        </div>
        <div class="col-5">
          <h2 class="h2 center">
            Waziup Magazine #3
          </h2>
          <div class="card">
            <div onclick="location.href='docs/WaziHub_Startups_Magazine.pdf';" style="background-color:white; height: 400px; overflow: hidden;">
              <img src="img/WazihubMagazineJuly2021.png" alt="WazihubMagazineJuly2021" style="height: 100%; width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--PARTNERS ROW-->
  <div class="lander-row lander-row--white top-bar">
    <div class="container">
      <h1 class="h1">
        Waziup Partners
      <h1>
      <div class="row logos-row">
        <div class="col center col-logo">
          <img src="/img/004-Logos/001-dark-blue/fiware.jpg" alt="FIWARE">
        </div>
        <div class="col center col-logo">
          <img src="/img/004-Logos/001-dark-blue/ITU.png" alt="ITU">
        </div>
        <div class="col center col-logo">
          <img src="/img/004-Logos/001-dark-blue/ms4africa.png" alt="MICROSOFT 4 Africa">
        </div>
        <div class="col center col-logo">
          <img src="/img/004-Logos/001-dark-blue/orange.png" alt="Orange">
        </div>
        <div class="col center col-logo">
          <img src="/img/004-Logos/001-dark-blue/smartafrica.png" alt="SmartAfrica">
        </div>
        <div class="col center col-logo">
          <img src="/img/004-Logos/004-Friends/eu.jpg" alt="EU">
        </div>
    </div>
  </div>
</div>
{{ partial "footer" .}}

<!--Slide show-->
<script>
  (function () {
  function Slideshow(element) {
    this.el = document.querySelector(element);
    this.init();
  }

  Slideshow.prototype = {
    init: function () {
      this.wrapper = this.el.querySelector(".slider-wrapper");
      this.slides = this.el.querySelectorAll(".slide");
      this.previous = this.el.querySelector(".slider-previous");
      this.next = this.el.querySelector(".slider-next");
      this.index = 0;
      this.total = this.slides.length;
      this.timer = null;

      this.action();
      this.stopStart();
    },
    _slideTo: function (slide) {
      var currentSlide = this.slides[slide];
      currentSlide.style.opacity = 1;

      for (var i = 0; i < this.slides.length; i++) {
        var slide = this.slides[i];
        if (slide !== currentSlide) {
          slide.style.opacity = 0;
        }
      }
    },
    action: function () {
      var self = this;
      self.timer = setInterval(function () {
        self.index++;
        if (self.index == self.slides.length) {
          self.index = 0;
        }
        self._slideTo(self.index);
      }, 5000);
    },
    stopStart: function () {
      var self = this;
      self.el.addEventListener(
        "mouseover",
        function () {
          clearInterval(self.timer);
          self.timer = null;
        },
        false
      );
      self.el.addEventListener(
        "mouseout",
        function () {
          self.action();
        },
        false
      );
    }
  };

  document.addEventListener("DOMContentLoaded", function () {
    var slider = new Slideshow("#main-slider");
  });
})();
</script>

