{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--blue hero-space">
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="header center">
            WAZIUP: IoT and Big Data platform
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <div class="hero-space-buttons">
            <a href="http://aam.waziup.io/auth/realms/waziup/account/" class="button button--red">
                Try Waziup
            </a>

            <p class="text dark-it-up">or</p>

            <a href="/why-use-waziup" class="button button--grey">
                Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
        <a href="/documentation/installation/hello-world"><img class="laptop" src="images/iot.png" alt=""></a>
        </div>
      </div>

    </div>

    <div class="bottom-background">
      <div class="left-pixels">
        <img src="img/herospace/pixels-header-left.gif" alt="">
      </div>
      <div class="right-pixels">
        <img src="img/herospace/pixels-header-right.gif" alt="">
      </div>
    </div>
  </div>

  <!--ABOUT Waziup ROW-->
  <div id="about-vamp-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col center">
          <a href="documentation/tutorials/" class="image--smaller"><img src="img/001-Big-icons/illustration-01.svg" alt="Easy canary releasing"></a>
          <h2 class="h2">Create your own IoT Gateway</h2>
          <p class="text">
            Create a low cost DIY gateway and sensor nodes.
            Based on LoRa wireless networks, with 15Km of coverage with low power.
          </p>
        </div>
        <div class="col center">
          <a href="documentation/using-waziup/sla/" class="image--smaller second-icon"><img src="img/001-Big-icons/illustration-02.svg" alt="Powerful autoscaling"></a>
          <h2 class="h2">Create and host your IoT app</h2>
          <p class="text">
            Waziup allows you to create your own IoT application.
            Your IoT application will be hosted in the Cloud and in the local gateways.
          </p>
        </div>
        <div class="col center">
          <a href="documentation/installation/" class="image--smaller third-icon"><img src="img/001-Big-icons/illustration-03.svg" alt="Container agnostic deploys"></a>
          <h2 class="h2">low cost, long range, low power</h2>
          <p class="text">
            Waziup is adapted to tough conditions: robustness and long battery duration.
            Cost is low with DIY components and Cloud self-hosting.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <a href="/why-use-waziup" class="button button--red--ghost">
              <p>Learn More</p>
              <div class="button__icon button__icon--arrow">
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="lander-row lander-row--white lander-row--small-padding top-bar">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">Waziup partners and friends</h3>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <img src="/img/004-Logos/004-Friends/eu-support.png" alt="Eu Commission">
        </div>
      </div>
    </div>
  </div>

  <!--FEATURES LIST ROW 01-->
  <div class="lander-row lander-row--grey features-top">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">Features</h3>
          <h1 class="h1">What more do we offer</h1>
        </div>
      </div>

      <div class="row row--wrap">
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-05.svg" alt="">
            <p class="text">
              Gateway management and automatic connexion
            </p>
          </div>
        </div>

        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-06.svg" alt="">
            <p class="text">
              Easy creation of personnalized IoT applications 
            </p>
          </div>
        </div>
        
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-03.svg" alt="">
            <p class="text">
              Integrated metrics and events system exposed through APIs.
            </p>
          </div>
        </div>
        
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-02.svg" alt="">
            <p class="text">
              Provisioning of IoT applications
            </p>
          </div>
        </div>
        
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="">
            <p class="text">
              Big Data management and visualization
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-04.svg" alt="">
            <p class="text">
              CLI and REST API for app integration
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--FEATURES LIST ROW 02-->
  <div class="lander-row lander-row--grey top-bar features-bottom">
    <div class="container">
      <div class="row row--wrap">
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              Apache 2.0 opensource license
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              Manages dependencies, environment variables and resources
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              Scalable, high available and modular architecture
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <a href="/why-use-waziup" class="button button--red">
              <p>Learn More</p>
              <div class="button__icon button__icon--arrow-white">
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--PARTNERS ROW-->
  <div id="partners-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">Technology Partners</h3>
          <h1 class="h1">Waziup works with</h1>
        </div>
      </div>

      <div class="row logos-row">
        <div class="col center">
          <a href="documentation/installation/"><img src="/img/004-Logos/001-dark-blue/Kubernetes-vertical.svg" alt="Google"></a>
        </div>
        <div class="col center">
          <a href="documentation/how-waziup-works/architecture-and-components"><img src="/img/004-Logos/001-dark-blue/Docker-vertical.svg" alt="Docker"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer" .}}
