{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>
{{ partial "mobile-menu" . }}

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--white hero-space">
    <div class="container">
      <h1 class="h1">
        What we do
      </h1>
      <div class="row">
        <div class="col col-8">
          <div class="text">
            WAZIUP e.V. is a non-profit organization, registered in Lipsusstr.18, Dresden, Germany, VR 11286.
            WAZIUP is engaged in IoT capacity building for startups and entrepreneurs via bootcamps, workshops and hackathons to enable them to innovate and build low-cost, end to end IoT products and services based on WAZIUP open source cutting edge ICT solutions.
            WAZIUP also provides support for startups to build IoT prototypes by providing the expertise, IoT development kits and cloud platform.
          </div>
        </div>
        <div class="col col-1">
        </div>
        <div class="col col-6">
          <div class="tech-image">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/sf7SRVEChbY">
            </iframe>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="lander-row lander-row--blue">
    <div class="container">
      <h1 class="h1">
        Meet our team
      </h1>
      <div class="row">
        <div class="col-5">
          <div class="team">
            <div>
              <a href='/'>
                <img src="images/abdur.jpg" alt="Abdur Rahim">
              </a>
            </div>
            <div class="team-overlay">
              <h1 class="h1">Abdur Rahim</h1>
              <h2 class="h2">Managing Director</h2>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team">
            <div class="tech-image">
              <a href='/'>
                <img src="images/corentin.jpg" alt="Corentin Dupont">
              </a>
            </div>
            <div class="team-overlay">
              <h1 class="h1">Corentin Dupont</h1>
              <h2 class="h2">Technical Director</h2>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team">
            <div>
              <a href='/'>
                <img src="images/sven.jpg" alt="Sven Zeisberg" class="tech-image">
              </a>
            </div>
            <div class="team-overlay">
              <h1 class="h1">Sven Zeisberg</h1>
              <h2 class="h2">Innovation Director</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="team">
            <div class="tech-image">
              <a href='/'><img src="images/baidoo.jpg" alt="Fiifi Baidoo"></a>
            </div>
            <div class="team-overlay">
              <h1 class="h1">Fiifi Baidoo</h1>
              <h2 class="h2">Bureau Member</h2>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team">
            <div class="tech-image">
              <a href='/'>
                <img src="images/congduc.jpg" alt="Congduc Pham">
              </a>
            </div>
            <div class="team-overlay">
              <h1 class="h1">Congduc Pham</h1>
              <h2 class="h2">Bureau Member</h2>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team">
            <div class="tech-image">
              <a href='/'><img src="images/?.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer" .}}
