{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "mobile-menu" . }}

<!--NEWS-->
<div class="page">
  <div class="lander-row lander-row--white" style="height:370px">
    <div class="container" >
      <div data-jarallax data-speed="0.2" class="jarallax">
        <img class="jarallax-img" src="/images/hands.jpg" alt="">
      </div>
      <h1 class="header center">
        Come join us!
      </h1>
      <h2 class="h2 center"> We are hiring.</h2>
    </div>
  </div>
  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="markdowned">
        {{ .Content }}
        <h1> Open positions </h1>
      </div>
      {{ range .Pages }}
        {{ if .Params.open }}
          <div class="jobitem">
            <div>
              <a href="{{.Permalink}}">
                <h1 class="h2"> {{ .Title }} </h1>
              </a>
              <div class="jobcontent"> {{.Description}} </div>
            </div>
            <a href="{{.Permalink}}">
            <div class="button button--orange"> 
               Read more... 
            </div></a>
          </div>
        {{ end }}
      {{ end }}
      <div class="markdowned">
        <h1> Closed positions </h1>
      </div>
      {{ range .Pages }}
        {{ if not .Params.open }}
          <div class="jobitem">
            <div>
              <a href="{{.Permalink}}">
                <h1 class="h2"> {{ .Title }} </h1>
              </a>
              <div class="jobcontent"> {{.Description}} </div>
            </div>
            <a href="{{.Permalink}}">
            <div class="button button--orange"> 
               Read more... 
            </div></a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ partial "footer" .}}
