{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>
{{ partial "mobile-menu" . }}

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--white" style="overflow: hidden; padding-top: 170px;">
    <div class="container">
      <h1 class="h1">
        Social Medias
      </h1>
      <h2 class="h2">
        Follow us on the Socials: 
        <a href="https://twitter.com/waziupIOT" target="_blank">
          <i class="fab fa-2x fa-twitter"></i>
        </a>
        <a href="https://facebook.com/waziupIOT" target="_blank">
          <i class="fab fa-2x fa-facebook"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCGbGcMnBxiJG6Q29LyuKOJQ" target="_blank">
          <i class="fab fa-2x fa-youtube"></i>
        </a>
        <a href="https://medium.com/waziup" target="_blank">
          <i class="fab fa-2x fa-medium"></i>
        </a>
        <a href="https://github.com/Waziup" target="_blank">
          <i class="fab fa-2x fa-github"></i>
        </a>
      </h1>
    </div>
  </div>

  <div class="lander-row lander-row--blue">
    <div class="container">
      <h1 class="h1">
        Our Videos
      </h1>
      <div class="row row--wrap">
        <!-- Retrieving Video list from Waziup Youtube channel. 
        Get the key from here: https://console.developers.google.com/apis/credentials -->
        {{ $urlPre := "https://www.googleapis.com" }}
        {{ $data := getJSON $urlPre "/youtube/v3/search?key=AIzaSyA572aZ-VMatfSZfGs7wjaZ-2dc39_meGY&channelId=UCGbGcMnBxiJG6Q29LyuKOJQ&part=snippet,id&order=date&maxResults=20" }}
        {{ range $data.items }}
          <div class="col-5" style="padding:20px; overflow:hidden;">
            <div style="height: 4em; line-height: 1.3em; overflow: hidden; padding-bottom:30px;">
              <h2 class="h2 center" style="font-size: larger;">
                {{ htmlUnescape .snippet.title }}
              </h2>
            </div>
            <div style="margin-top: 0px; margin-bottom: 30px">
              <a href="https://www.youtube.com/watch?v={{ .id.videoId }}" target="_blank">
                <img src="https://img.youtube.com/vi/{{ .id.videoId }}/0.jpg"></img>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ partial "footer" .}}
