{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--blue hero-space hero-space--gradient">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="header center">
            Develop, Deploy, Connect! 
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-4" style="padding-top:50px; padding-bottom:20px">
          <h2 class="h2">
            Waziup IoT Platform is:
          </h2>
          <ul>
            <li type="disk" class="text">
              Free and Open-Source
            </li>
            <li class="text">
              Long range with LoRa network
            </li>
            <li class="text">
              Working with or without Internet!
            </li>
          </ul>
          <div class="hero-space-buttons">
            <a href="https://dashboard.waziup.io" class="button button--orange">
              Try Waziup!
            </a>
          </div>
        </div>
        <div class="col-12 center">
          <img class="laptop" src="/img/WaziCloud.png" alt=""/>
        </div>
        <div class="col-3">
        </div>
      </div>

    </div>

    <div class="bottom-background">
      <div class="left-pixels">
        <img src="/img/herospace/pixels-header-left.gif" alt="">
      </div>
      <div class="right-pixels">
        <img src="/img/herospace/pixels-header-right.gif" alt="">
      </div>
    </div>
  </div>

  <div class="lander-row lander-row--white">
    <div class="container">
      <h1 class="h1">
        WaziDev
      </h1>
      <div class="row">
        <div class="col col-4">
          <div class="tech-image">
            <a href='documentation/'><img src="/img/WaziDev-front.png" alt="WaziDev" class="tech-image"></a>
          </div>
        </div>
        <div class="col col-1">
        </div>
        <div class="col col-10">
          <div class="text">
            WaziDev is a Sensing and Actuation platform for your applications!
            It can send your data up to 7 Km using the LoRa technology.
            It is easily programmable and customizable, using Arduino technology.
            It is an ideal solution for start-ups and entrepreneurs who want to rapid prototype a IoT applications.
            Its features include:
            <ul>
              <li> Arduino Pro Mini compatible CPU </li>
              <li> RFM95W LoRa module </li>
              <li> Fully compatible with the Arduino development environment </li>
              <li> Embedded Lipo battery charger for solar panels and low power options </li>
              <li> Two pins with high current support (500mA) </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lander-row lander-row--blue">
    <div class="container">
      <h1 class="h1">
        WaziGate
      </h1>
      <div class="row">
        <div class="col col-10">
          <div class="text">
            WaziGate is a IoT LoRa Gateway, ideal for all your remote IoT applications.
            The Gateway can cover up to 100 IoT Sensors and actuator nodes using LoRa radio network: Weather stations, soil monitoring, GPS applications... The possibilities are endless!
            The Gateway can also control your actuators, such as electro-valves.
            You can host your own applications directly in the gateway, and connect to it through WiFi.
            The gateway can easily work without Internet connectivity and still provides data to end-users through its embedded database and web-based visualization module.
            The WaziGate features:
            <ul> 
              <li> Edge capacity to host your applications </li>
              <li> LoRa communication up to 10-12 Km </li>
              <li> Permanent Wifi hotspot </li>
              <li> Wifi/3G/Ethernet internet connection </li>
              <li> Data upload with HTTP, MQTT or even SMS. </li>
              <li> Low power consumption </li>
              <li> Automation </li>
              <li> Remote management </li>
            </ul>
          </div>
        </div>
        <div class="col col-1">
        </div>
        <div class="col col-4">
          <div class="tech-image">
            <a href='documentation/'><img src="/img/WaziGate-transp-persp.png" alt="WaziGate" class="tech-image"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lander-row lander-row--white">
    <div class="container">
      <h1 class="h1">
        WaziCloud
      </h1>
      <div class="row">
        <div class="col col-4">
          <div class="tech-image">
            <a href='documentation/'><img src="/img/WaziCloud.png" alt="WaziCloud" class="tech-image"></a>
          </div>
        </div>
        <div class="col col-1">
        </div>
        <div class="col col-10">
          <div class="text">
            The WAZIUP Cloud platform allows you to manage your sensors, actuators and IoT data.
            WAZIUP Cloud platform offers everything that you need for your application: 
            <ul> 
              <li> Remote connection of your sensors and actuators </li> 
              <li> Send, receive, collect, store and analyze the data they generate  </li>
              <li> Manage your users and their privacy </li> 
              <li> Turn that data into actionable insights, in real time </li>
              <li> Using SMS or mobile application for notification  </li>
              <li> Standard IoT protocols (HTTP and MQTT). </li>
              <li> Open REST API for application development  </li>
              <li> Control your gateways from remote </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{{ partial "footer" .}}
