{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--blue hero-space">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="header center">
            Develop, Deploy, Connect! 
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-4" style="padding-top:50px; padding-bottom:20px">
          <h2 class="h2">
            Waziup IoT Platform is:
          </h2>
          <ul>
            <li type="disk" class="text">
              Low cost
            </li>
            <li class="text">
              Long range with LoRa network
            </li>
            <li class="text">
              Working with or without Internet!
            </li>
          </ul>
          <div class="hero-space-buttons">
            <a href="https://dashboard.waziup.io" class="button button--orange">
              Try Waziup!
            </a>
          </div>
        </div>
        <div class="col-12 center">
          <img class="laptop" src="/img/WaziCloud.png" alt=""/>
        </div>
        <div class="col-3">
        </div>
      </div>

    </div>

    <div class="bottom-background">
      <div class="left-pixels">
        <img src="/img/herospace/pixels-header-left.gif" alt="">
      </div>
      <div class="right-pixels">
        <img src="/img/herospace/pixels-header-right.gif" alt="">
      </div>
    </div>
  </div>

  <!--ABOUT Waziup ROW-->
  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="tech-image" style="border: 1px double darkblue;max-width: 400px;">
            <a href=''><img src="/images/wazihubers.jpg" alt="WaziDev" class="tech-image"></a>
          </div>
        </div>
        <div class="col-11 center" style="padding:50px">
          <div style="align-self:flex-start">
            <i class="fa fa-2x fa-quote-right" aria-hidden="true" style="color:orange"></i>
          </div>
          <div>
          <h2 style="font-size:18pt"> Waziup allows us to create our IoT application and to deploy it easily! </h2>
          </div>
          <div style="align-self:flex-end">
            <i class="fa fa-2x fa-quote-left" aria-hidden="true" style="color:orange"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="tech-row" class="lander-row lander-row--blue">
    <div class="container">
      <h1 class="h1">
        Our technology
      </h1>
      <div class="row">
        <div class="col tech-col">
          <h2 class="h2">
            WaziDev
          </h2>
          <div class="tech-image">
            <a href='documentation/'><img src="/img/WaziDev-front.png" alt="WaziDev" class="tech-image"></a>
          </div>
          <div class="tech-text">
            WaziDev is a Sensing and Actuation platform for your applications!
            It can send your data up to 7 Km using the LoRa technology.
            It is easily programmable and customizable, using Arduino technology.
          </div>
        </div>
        <div class="col tech-col">
          <h2 class="h2">
            WaziGate
          </h2>
          <div class="tech-image">
            <a href='documentation/' class="image--smaller"><img src="/img/WaziGate-black.png" alt="WaziGate" class="tech-image"></a>
          </div>
          <div class="tech-text">
            WaziGate is a LoRa gateway that can receive and emit LoRa messages up to 200 devices!
            It supports LoRaWAN, edge applications and actuation.
            You can control is from remote using the WaziCloud.
          </div>
        </div>
        <div class="col tech-col">
          <h2 class="h2">
            WaziCloud
          </h2>
          <div class="tech-image">
            <a href='documentation/' class="image--smaller"><img src="/img/WaziCloud.png" alt="WaziCloud" class="tech-image"></a>
          </div>
          <div class="tech-text">
            WaziCloud allows Remote control of your application!
            Using the dashboard, you can visualize you data and control you devices and gateways.
            It offers an Open API for developping your IoT applications.
          </div>
        </div>
      </div>
    </div>
  </div>


<!--

  <div id="about-vamp-row" class="lander-row lander-row--white">ss
    <div class="container">
      <h1 class="h1">
        Use cases 
      </h1>
      <div class="row">
        <div class="col center">
          <a href='documentation/' class="image--larger"><img src="img/soil_moisture.jpg" alt="Use cases"></a>
        </div>
        <div class="col">
          <h2 class="h2">
            Waziup can be used in:
          </h2>
          <ul>
            <li>
              Agriculture
            </li>
            <li>
              Water management 
            </li>
            <li>
              Logistics
            </li>
          </ul>
          <p>
            The possibilities are endless!
          </p>
        </div>
      </div>
    </div>
  </div>
-->

</div>
{{ partial "footer" .}}
